@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tinos", serif;
}

/* Usar só em mobile first, desativar nas outras media queries */
html{
  -webkit-text-size-adjust: none; /* alguns Androids só respeitam 'none' */
  text-size-adjust: none;
}

body{
    font-size: 1em;
    background-color: #FFFBEE;
    min-height: 100vh;
    /* fallback universal */
    min-height: 100svh;
    /* Safari/iOS: viewport “pequena” estável */
    min-height: 100dvh;
    /* modernos: viewport dinâmica (ajusta com barra) */
    overflow-x: hidden;
    width: 100%;

}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-bottom: 1px solid rgba(72, 72, 72, 0.454);
}

header span{
    cursor: pointer;
    align-self: flex-end;
}

header h1{
    margin: 10px 0;
}
header ul{
    margin-bottom: 10px;
}

header li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}

header li a{
    text-decoration: none;
    color: black;
}

nav ul{
    display: none;
}

#whatsapp{
    display: flex;
    flex-flow: column wrap;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(72, 72, 72, 0.454);
}

#whatsapp img{
    border-radius: 10px 0px 0px 10px;
    align-self: flex-end;
    width: 45vw;
    max-width: 235px;
    height: 150px;
    max-height: 150px;
}

#whatsapp a{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(244, 238, 238);
    background-color: #5E8058;
    padding: 8px;
    border-radius: 20px;
}

h3{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.5em;
}

#lanches div{
    padding: 5px;
    text-align: justify;
    background-color: #f1e9ce;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(52, 51, 51, 0.226);
}

#lanches div h4{
    text-align: center;
}

#lanches{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    line-height: 1.2;
    border: 1px solid rgba(47, 46, 46, 0.368);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 5px rgba(52, 51, 51, 0.226);
}

.img-lanche{
    border: 1px solid rgba(47, 46, 46, 0.368);
    border-radius: 5px;
    width: 250px;
    height: 180px;
    margin: 10px 10px;
    filter: drop-shadow(0.5px 1px 1px rgba(52, 51, 51, 0.426));
}